In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LogisticRegression

In [2]:

mydata=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/HHE_June5/main/pima-indians-diabetes.csv")
mydata.head()

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [3]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
mydata.isnull().sum()

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [5]:
mydata["Plas"]=mydata["Plas"].replace(to_replace=0,value=np.nan) # to replace 0 with nan as object datatype
mydata["Plas"]=mydata["Plas"].astype(float)

In [6]:
mydata.head(25)

    Preg   Plas  Pres  skin  test  mass   pedi  age  class
0      6  148.0    72    35     0  33.6  0.627   50      1
1      1   85.0    66    29     0  26.6  0.351   31      0
2      8  183.0    64     0     0  23.3  0.672   32      1
3      1   89.0    66    23    94  28.1  0.167   21      0
4      0  137.0    40    35   168  43.1  2.288   33      1
5      5  116.0    74     0     0  25.6  0.201   30      0
6      3   78.0    50    32    88  31.0  0.248   26      1
7     10  115.0     0     0     0  35.3  0.134   29      0
8      2  197.0    70    45   543  30.5  0.158   53      1
9      8  125.0    96     0     0   0.0  0.232   54      1
10     4  110.0    92     0     0  37.6  0.191   30      0
11    10  168.0    74     0     0  38.0  0.537   34      1
12    10  139.0    80     0     0  27.1  1.441   57      0
13     1  189.0    60    23   846  30.1  0.398   59      1
14     5  166.0    72    19   175  25.8  0.587   51      1
15     7  100.0     0     0     0  30.0  0.484   32      1
16     0  118.0    84    47   230  45.8  0.551   31      1
17     7  107.0    74     0     0  29.6  0.254   31      1
18     1  103.0    30    38    83  43.3  0.183   33      0
19     1  115.0    70    30    96  34.6  0.529   32      1
20     3  126.0    88    41   235  39.3  0.704   27      0
21     8   99.0    84     0     0  35.4  0.388   50      0
22     7  196.0    90     0     0  39.8  0.451   41      1
23     9  119.0    80    35     0  29.0  0.263   29      1
24    11  143.0    94    33   146  36.6  0.254   51      1

In [7]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    763 non-null    float64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 54.1 KB

In [8]:
mydata["Pres"]=mydata["Pres"].replace(to_replace=0,value=np.nan) #to replace the 0 & convert into object type data
mydata["Pres"]=mydata["Pres"].astype(float)
mydata["skin"]=mydata["skin"].replace(to_replace=0,value=np.nan) #to replace the 0 & convert into object type data
mydata["skin"]=mydata["skin"].astype(float)
mydata["mass"]=mydata["mass"].replace(to_replace=0,value=np.nan) #to replace the 0 & convert into object type data
mydata["mass"]=mydata["mass"].astype(float)

In [9]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    763 non-null    float64
 2   Pres    733 non-null    float64
 3   skin    541 non-null    float64
 4   test    768 non-null    int64
 5   mass    757 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [10]:
median1=mydata["Plas"].median() #removing null values

mydata["Plas"].replace(np.NaN,median1,inplace=True)
median2=mydata["Pres"].median() #removing null values

mydata["Pres"].replace(np.NaN,median2,inplace=True)
median3=mydata["skin"].median() #removing null values

mydata["skin"].replace(np.NaN,median3,inplace=True)
median3=mydata["mass"].median() #removing null values

mydata["mass"].replace(np.NaN,median3,inplace=True)

In [11]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    float64
 2   Pres    768 non-null    float64
 3   skin    768 non-null    float64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [12]:
mydata.head(25)

    Preg   Plas  Pres  skin  test  mass   pedi  age  class
0      6  148.0  72.0  35.0     0  33.6  0.627   50      1
1      1   85.0  66.0  29.0     0  26.6  0.351   31      0
2      8  183.0  64.0  29.0     0  23.3  0.672   32      1
3      1   89.0  66.0  23.0    94  28.1  0.167   21      0
4      0  137.0  40.0  35.0   168  43.1  2.288   33      1
5      5  116.0  74.0  29.0     0  25.6  0.201   30      0
6      3   78.0  50.0  32.0    88  31.0  0.248   26      1
7     10  115.0  72.0  29.0     0  35.3  0.134   29      0
8      2  197.0  70.0  45.0   543  30.5  0.158   53      1
9      8  125.0  96.0  29.0     0  32.3  0.232   54      1
10     4  110.0  92.0  29.0     0  37.6  0.191   30      0
11    10  168.0  74.0  29.0     0  38.0  0.537   34      1
12    10  139.0  80.0  29.0     0  27.1  1.441   57      0
13     1  189.0  60.0  23.0   846  30.1  0.398   59      1
14     5  166.0  72.0  19.0   175  25.8  0.587   51      1
15     7  100.0  72.0  29.0     0  30.0  0.484   32      1
16     0  118.0  84.0  47.0   230  45.8  0.551   31      1
17     7  107.0  74.0  29.0     0  29.6  0.254   31      1
18     1  103.0  30.0  38.0    83  43.3  0.183   33      0
19     1  115.0  70.0  30.0    96  34.6  0.529   32      1
20     3  126.0  88.0  41.0   235  39.3  0.704   27      0
21     8   99.0  84.0  29.0     0  35.4  0.388   50      0
22     7  196.0  90.0  29.0     0  39.8  0.451   41      1
23     9  119.0  80.0  35.0     0  29.0  0.263   29      1
24    11  143.0  94.0  33.0   146  36.6  0.254   51      1

In [13]:
from sklearn.model_selection import train_test_split
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [14]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    float64
 2   Pres    768 non-null    float64
 3   skin    768 non-null    float64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [15]:
X=mydata.drop(["Plas"],axis=1)
y=mydata["Plas"]

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=1)

In [17]:
reg_model=LogisticRegression()

In [18]:
reg_model.fit(X_train,y_train)

LogisticRegression()

In [19]:
reg_model.score(X_train,y_train)

0.0782122905027933

In [20]:
reg_model.score(X_test,y_test)

0.017316017316017316

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
model_1=DecisionTreeClassifier()
model_1.fit(X_train,y_train)

DecisionTreeClassifier()

In [23]:
model_1.score(X_train,y_train)

1.0

In [24]:
model_1.score(X_test,y_test)

0.008658008658008658

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
model=RandomForestRegressor()

In [27]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [28]:
model.score(X_train,y_train)

0.903372917979731

In [29]:
model.score(X_test,y_test)

0.35549591065691466